$dark-blue: #1B4D5E;
$apptuto-blue: #45C2EB;
$blue-shade: #D9F2FB;
$lightest-blue: #EEFCFF;
$white: #fff;
$border-radius: 5px;
$circumference: 440;
$text-black: #242424;
$inner-box-shadow: #9E9E9E;

* { box-sizing: border-box; margin: 0;padding: 0;}
::-webkit-scrollbar { display: none; }

body {
   font-size: 12px; font-family: arial;color:$dark-blue;
}

.overlay {
   background: rgba(0, 0, 0, 0.5);
   position: fixed; top: 0; left: 0; 
   display: flex; justify-content: center; align-items: center;
   opacity: 0; z-index: -1;
   transition: opacity 1s ease;
   width: 100%; height: 100%;
   &.show {
      overflow: hidden;
      opacity: 1;z-index: 100000;
      transition: opacity 1s ease;
   }
}

.overlay-mod {
   width: 320px; height: 240px;
   background: $white;
   border-radius: $border-radius;
   display: flex; justify-content: center; align-items: center;
   padding: 2rem;
   outline: 2px solid $apptuto-blue; outline-offset: -10px;
   transition: transform 0.5s ease;
   transform: translateY(500px);
   &.show {
      transform: translateY(0px);
      transition: transform 0.5s ease;
   }
   .ov-cnt {
      display: flex; flex-direction: column; justify-content: space-between;
      .ov-ttl {
         color: $apptuto-blue; text-transform: uppercase; text-align: center; letter-spacing: 1px;
         font-weight: 500;
         margin-bottom: 2rem;
         font-size: 1rem;
      }  
      .ov-btns {
         color: $white;
         .btn {
            background: $apptuto-blue;
            $color: white; text-transform: uppercase; letter-spacing: 1px;
            width: 200px; height: 44px;
            margin-bottom: 0.5rem;;
            border-radius: $border-radius;
            display: flex;justify-content: center;align-items: center;
            cursor: pointer;
            &:active{background: $dark-blue;}
            a {text-decoration: none; color: $white;}
        }
      }
   }
}

/* timer animation */
.timer-container {
   position: relative; 
   display: flex; justify-content: center;
   margin-top: -36px;
}

.half-circle-bg {
   background: #16A0CD;
   width: 200px; height: 200px;
   border-radius: 100% 100% 0 0;
   position: absolute; top: 44px;
   z-index: 0;
}
#clock {
   position: relative; top: 64px;
   width: 160px;height: 160px; border-radius: 50%;
   background: $white;
   box-shadow: 0px 1px 4px $inner-box-shadow;
   z-index: 200;
}

   #timer {
      position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);
   }
      .timer-content {
         width: 146px; height: 146px; 
         border-radius: 50%; border: 10px solid $lightest-blue;
         position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
         font-weight: 900;
         color: $apptuto-blue;
         display: flex; flex-direction: row; align-items: center; justify-content: center;
         .time {font-size: 24px;}
         .sec {font-size: 1rem;margin-left: 5px;
      }
   }
   .timer-animate-container {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
      svg {
         transform: rotate(-90deg);
         width: 160px; height: 160px;
         fill: none;
         display: flex;align-items: center;justify-content: center;
      }
         .circle_animation {
            width: 160px; height: 160px;
            stroke-dasharray: $circumference; stroke-dashoffset: $circumference; transition: all 1s linear;
            stroke: $apptuto-blue; stroke-width: 10;  
         }

/* quiz-wrap*/
#container {
   height: 100vh;
   min-width: 320px;
}
#quiz {
   line-height: 1.5;
   margin: auto;
   height: 100%; max-width: 640px;
   background: $blue-shade;
   position: relative;
}



.header {
   height: 72px; width: 100%;
   box-sizing: border-box;
   display: flex; justify-content: center; align-items: center;
   background: $apptuto-blue;
   z-index: 25;
   position: relative;
   .status-bar {
      width: 100%;
      display: flex; justify-content: space-between; align-items: center;
      padding-left: 16px;
      padding-right: 16px;
      height: 32px;
      position: absolute; top: 0;
   }
   .title {
      width: 100%;
      position: absolute;
      bottom: 0;
      color: white; 
      font-size: 17px;
      font-weight: 500;
      height: 44px;
      display: flex; justify-content: center; align-items: center;
   }
   .exit {
      position: absolute; left: 16px;
   }
   .left-arrow {
      display: inline-block;
      line-height: 3;
      margin-right: 6px;
      padding-bottom: 2px;
   }
}

#quiz-content  {
   width: 100%; height: 100%;
   padding: 16px;
   display: flex; flex-direction: column; align-items: center;
   position: relative;
   &.hidden {
      display: none;
      height: 0;
   }
}
   

.quiz-card {
   padding: 24px;
   width: 100%; height: 540px;
   background: white;
   border-radius: 4px;
   box-shadow: 0px 1px 2px 1px #ececec;
   z-index: 100;
   position: relative;
   
   
}

#q-cnt {
   margin-bottom: 12px;
   border-radius: 5px;
}
.quiz-header {
   height: 28px;
   display: flex; justify-content: center; align-items: center;
   font-weight: 800;
   color: $dark-blue;
   border-radius: 5px 5px 0px 0px; 
   font-size: 14px;
   
   > .header-content {
      width: 100%;
      display: flex; justify-content: space-between;
      margin-bottom: 16px;
   }
}
   #q {
      color: $dark-blue;
      min-height: 44px;
      font-size: 14px;
      margin-top: 36px;
   }
   #multiple-choice {
      
       display: flex; flex-direction: column; justify-content: center; align-items: center;
       max-height: 240px;
       height: 100%;
       
   }

   .option {
      display: flex; align-items: center;
       width: 100%; min-height: 54px;
       background:$white;
       box-shadow: 2px 2px 3px 0px $lightest-blue;
       padding-left: 16px; margin-bottom: 12px;
       color: $dark-blue;
       cursor: pointer;
       border-radius: $border-radius;
       border: 1px solid #EFEFEF;
       display: flex; flex-direction: row;
       font-size: 14px;
       &:hover {
         color: $apptuto-blue;
         font-weight: 600;
         
      }
      &:active {
         background: #DEDEDE;
         box-shadow: inset 0px 1px 4px 1px $inner-box-shadow;
      }
      &.active {
         color: $apptuto-blue;
         font-weight: 600;
      }
      .ans-sel {
         font-weight: 900;
         margin-right: 12px;
      }
   }

// Pause, Next, Bookmark
.btn-container {
   width: calc(100% - 48px); height: 44px;
   display: flex; flex-direction: row; justify-content: space-between;align-items: center;
   position: absolute; bottom: 24px;
}
   .q-btn {
       min-width: 130px;height: 54px;
       padding-left: 16px;
       padding-right: 16px;
       color: $apptuto-blue;
       background: white;
       box-shadow: 0px 1px 3px 0px #BABABA;
       cursor: pointer;
       position: relative;
       display: flex; justify-content: center; align-items: center;
       border-radius: $border-radius;
       img {
          margin-bottom: 4px;
       }
       &:active {
         background: #DEDEDE;
         box-shadow: inset 0px 1px 4px 1px $inner-box-shadow;
      }
     
       .button-content {
          display: flex;  flex-direction: column; justify-content: space-between; align-items: center;
          > .icon {
            width: 16px; height: 16px;
            margin-left: 12px;
          }
         > .name {
            text-transform: uppercase; letter-spacing: 1px;
            font-size: 10px;
         }
       }
   }
   .nxt-alert {
      text-align: center; vertical-align: middle; line-height: 24px;
       position: absolute; top: -24px; 
       height: 24px; width: 120px;
       text-align: center;
       background: red;
       color: $white;
       z-index: 50;
       border-radius: $border-radius;
       transition: opacity 1s;
       visibility: hidden;
       &.active {
         visibility: visible;
         animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
         transform: translate3d(0, 0, 0);
         backface-visibility: hidden;
         perspective: 1000px;
       }
      
   }
   #bookmark.bookmarked {
      color: white;
      background: $dark-blue;
      box-shadow: 2px 2px 2px 0px $dark-blue;
   }
   #pause-icon {
      content: url("/img/ic-pause.png");
   }
   #star-icon {
      content: url("/img/ic-star.png");
   }
   #next-icon {
      content: url("/img/ic-next.png");
   }
   #submit {
      position: relative;
   }

   .tool-bar {
      width: 100%;
      position: fixed; bottom: 0;
      height: 39px;
      background: white;
   }
/* review section */
#review-section {
   display: none; // for dev : block
   height: calc(100% - 64px);
   overflow: scroll;
}
#analytic-modal {
   padding: 36px;
   display: flex; flex-direction: column; align-items: center;;
   position: relative;
   background: white;
   margin-top: 36px;
   text-align: center;
   font-weight: 16px;
   h2 {
      font-size: 24px;
      font-weight: 800;
   }
   p {
      font-size: 18px;
   }
   img {
      margin-bottom: 16px;
      width: 80%;
   }
   .upgrade-button {
      background: #7EFF52;
      width: 100%;
      height: 54px;
      margin-top: 36px;
      line-height: 3.6;
      color: white;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1;
      font-size: 16px;
      cursor: pointer;
      &:active {
         box-shadow: inset 0px 1px 3px 1px #57B437;
         color: #57B437;
      }
   }
}
.review-container {
   max-width: 480px; margin: 64px auto;
   display: flex; flex-direction: column; 
   
   section {
      color: $dark-blue;
      border-radius: $border-radius;
      box-shadow: 2x 2px $lightest-blue;
      animation: slideUp 1s;
      .rev-header {
         text-align: center; line-height: 36px;
         border-radius: 5px 5px 0px 0px; 
         font-weight: 800; letter-spacing: 1px; text-transform: uppercase;
         height: 36px;
         background: $apptuto-blue; color: $white;
      }
      h2 {
         font-size: 14px; margin: 12px 0 12px;
      }
      p {
         margin-bottom: 6px;
      }
      .review-content {
         background: $white;
         padding: 1rem;
         line-height: 1.4;
      }
   }
}

.upgrade-header {
   display: flex; justify-content: space-between;
   height: 28px; width: 100%;
   margin-bottom: 12px;
   .upgrade-button {
      width: 100px; height: inherit;
      background: $apptuto-blue;
      color: $white; cursor: pointer;
      border-radius: $border-radius;
      line-height: 28px;
      text-align: center; text-transform: uppercase; letter-spacing: 1px; font-size: 10px;
      transition: transform 0.5s ease;
      &:active {
         background: $dark-blue;
      }
      &:hover {
         transform: scale(1.1);
         transition: transform 0.5s ease;
      }
   }
}

.review-section {
   margin: 24px 0 24px;
   border-radius: $border-radius;
   background: $white;
   .r-sec {
      margin: 6px 0 6px;
   }
   .b {
      font-weight: 600;
      margin: 6px 0 6px;
   }
   .review-header {
      padding: 12px;
      width: 100%; height: 36px;
      color: $white; background: $apptuto-blue;
      border-radius: 5px 5px 0px 0px; 
      font-weight: 600; margin-bottom: 12px;
      display: flex; justify-content: space-between;
      .label, span {
         margin-right: 6px;
         display: inline-block;
      }
   }
   .question-review {
      padding: 12px;
   }
}


/* states */ 
.star {
   color: $lightest-blue;
   &.active {color: $dark-blue;}
}
.label {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   &.incorrect {background: red;}
   &.correct {
      color: green;
      background: green;
   }
}



.ans {
   .r-ans, .r-sec {
      margin-bottom: 12px;
   }
   .ans-opt {
      display: flex;
      flex-direction: row;
      > span { margin-right: 0.5rem;}
      &.correct {
         color: green;
      }
      &.incorrect {
         color: red;
      }
   }
}


@keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
     opacity: 1;
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
     opacity: 1;

   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
     opacity: 1;

   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
     opacity: 1;

   }
 }
